/* global style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --pri-bcg: linear-gradient(160deg, #c621ef, #164cbe);
  --pri-grey: #a2b5bb;
  --pri-white: #ffffff;
  --pri-blue: #1c3879;
  --pri-green: #24a19c;
}

html {
  font-size: 62.5%;
}

/* body style */
body {
  width: 100%;
  min-height: 100vh;
  font-size: 1.6rem;
  background: var(--pri-bcg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  color: var(--pri-white);
}

/* form style */
.container {
  width: 90%;
  max-width: fit-content;
  border-radius: 1rem;
  background: var(--pri-blue);
  padding: 1rem;
  margin: 10vh 0 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Bar icons */
.container .icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;

  padding: 0.5rem;
  margin-right: 0.5rem;
}

/*Button effects*/
.container .icons button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;

  border: none;
  background: none;
  cursor: pointer;
  margin: 0 1rem;
  position: relative;
  color: var(--pri-white);
}

.container .icons button::after {
  content: "";
  left: 0;
  bottom: -0.4rem;
  width: 100%;
  height: 0.3rem;
  position: absolute;
  background: var(--pri-green);

  transform: scaleX(0);
  transform-origin: left;
  transition: transform 250ms ease-in;
}

.container .icons button:hover::after {
  transform: scaleX(1);
}

.container .icons img {
  height: 2rem;
  margin-right: 0.5rem;
}

.container .icons p {
  font-weight: bold;
}

/* header */
.container .header h1 {
  font-size: 4rem;
  font-weight: 600;
  margin: 1rem auto;
}

/* chart */
.chart-row {
  display: flex;
  flex-direction: row;
}

.chart-row .chart-element {
  margin: 2rem 3rem;
  height: 45vh;
  width: 45vh;
  border-radius: 2rem;
  background: var(--pri-white);
}

.chart-row .chart-line {
  margin: 2rem 3rem;
  height: 45vh;
  width: 97vh;
  border-radius: 2rem;
  background: var(--pri-white);
}

.chart-row canvas {
  padding: 1rem;
}

/* footer */
footer {
  margin: 1rem 0 2rem;
}

@media screen and (max-width: 800px) {
  html {
    font-size: 55%;
  }
  .container {
    margin: 3vh 0 1rem;
  }
  .chart-row {
    flex-direction: column;
  }
  .chart-row .chart-line {
    width: 45vh;
  }
}
