<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/header'); %>
    <link rel="stylesheet" href="/css/admin.css" />
    <script src="/js/chart.js" defer></script>
    <script src="/js/chartDataLabels.js" defer></script>
    <script src="/js/chartOptions.js" defer></script>
    <script src="/js/admin.js" defer></script>
  </head>
  <body>
    <div class="container">
      <div class="icons">
        <% if(login_user!=='visitor'){ %>
        <button type="button" onclick="location.href = '/export'" title="导出Excel表格">
          <img src="/images/export.svg" alt="export" />
          <p>导出Excel</p>
        </button>
        <% }; %>
        <button type="button" onclick="location.href = '/logout'" title="退出当前登录">
          <img src="/images/logout.svg" alt="logout" />
          <p>退出登录</p>
        </button>
      </div>
      <div class="header"><h1>提交统计</h1></div>
      <div class="chart-row">
        <div class="chart-element">
          <canvas id="myChart1"></canvas>
        </div>
        <div class="chart-element">
          <canvas id="myChart2"></canvas>
        </div>
      </div>
      <div class="chart-row">
        <div class="chart-element">
          <canvas id="myChart3"></canvas>
        </div>
        <div class="chart-element">
          <canvas id="myChart4"></canvas>
        </div>
      </div>
      <div class="chart-row">
        <div class="chart-line">
          <canvas id="myChart5"></canvas>
        </div>
      </div>
    </div>
    <%- include('../partials/footer'); %>
  </body>
</html>
