<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/header'); %>
    <link rel="stylesheet" href="/css/fail.css" />
  </head>
  <body>
    <div class="container">
      <h1>提交失败</h1>
      <img src="/images/fail.png" alt="fail" class="msg-img" />
      <button onclick="location.href = '/'">返回</button>
    </div>
    <%- include('../partials/footer'); %>
  </body>
</html>
