<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/header'); %>
    <link rel="stylesheet" href="/css/suspend.css" />
  </head>
  <body>
    <div class="container">
      <h1>报名已暂停</h1>
      <img src="/images/suspend.png" alt="suspend" class="msg-img" />
      <p><%= message %></p>
    </div>
    <%- include('../partials/footer'); %>
  </body>
</html>
